<!-- Modal for the Symfony version -->
<div class="modal fade" id="versionModal" tabindex="-1" aria-labelledby="versionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="versionModalLabel">Symfony version</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Which version of Symfony do you want to practice on?</p>
                <form id="versionForm">
                    <p id="versionErrorMessage" class="text-danger" style="display: none;">Please select a Symfony version.</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="symfonyVersionDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Select Symfony version
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="symfonyVersionDropdown">
                            <li><a class="dropdown-item" href="#" data-value="7">Symfony 7</a></li>
                            <li><a class="dropdown-item" href="#" data-value="6">Symfony 6</a></li>
                            <li><a class="dropdown-item" href="#" data-value="5">Symfony 5</a></li>
                            <li><a class="dropdown-item" href="#" data-value="4">Symfony 4</a></li>
                            <li><a class="dropdown-item" href="#" data-value="3">Symfony 3</a></li>
                        </ul>
                    </div>
                    <!-- Hidden input to store the selected Symfony version -->
                    <input type="hidden" name="symfonyVersion" id="selectedSymfonyVersion" value=""/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalActionButton">Start training</button>
            </div>
        </div>
    </div>
</div>

{% include 'partials/confirm_fetch_modal.html.twig' %}
{% include 'partials/progress_modal.html.twig' %}
